*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root {
  --PRIMARY-COLOR: mediumblue;
  --SECUNDARY-COLOR: aliceblue;
}

  body {
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html{
    font-size: clamp(1rem, 2rem, 25px);
  }
  
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%; 
    max-width: 500px;
    border: 1px solid var(--PRIMARY-COLOR);
    margin: auto;
  }
  
  header, footer {
    width: 100%;
    padding: 0 0.25em;
    background-color: var(--PRIMARY-COLOR);
    color: var(--SECUNDARY-COLOR);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
  }
  
  footer {
    display: grid;
    place-content: center;
  }
  
  
  ul {
    width: 100%;
    list-style: none;
    padding: 0 0.25rem 0.25rem;
  }
  
  ul li::before {
    content: "\200B";
  }
  
  .task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.25rem 0;
    background-color: #eee;
  }
  
  .task:first-child {
    margin: 0;
  }
  
  .task input[type="checkbox"] {
    text-align: center;
    width: 2.5rem;
    width: 48px;
    min-width: 48px;
    height: 2.5rem;
    height: 48px;
    min-height: 48px;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  
  .task input[type="checkbox"]:focus + label {
    text-decoration: underline;
  }
  
  .task > label {
    font-size: 0.75rem;
    flex-grow: 1;
  }
  
  .task svg {
    width: 48px;
    height: 36px;
    font-size: 1rem;
    color: steelblue;
    cursor: pointer;
  }
  
  .task svg:focus, 
  .task svg:hover {
    color: red;
    outline: none;
  }
  
  .addForm, .searchForm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0 0;
    padding: 0 0.5rem 0.25rem;
    border-bottom: 1px solid #eee;
  }
  
  .addForm label {
    position: absolute;
    left: -99999px;
  }
  
  .addForm input[type='text'],
  .searchForm input[type='text'] {
    flex-grow: 1;
    max-width: calc(100% - 50px);
    min-height: 48px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    outline: none;
  }
  
  button {
    height: 48px;
    min-width: 48px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--SECUNDARY-COLOR);
    color: var(--PRIMARY-COLOR);
    cursor: pointer;
  }
  
  button:focus, 
  button:hover {
    color: white;
    background-color: limegreen;
    outline: none;
  }
  
  .searchForm label {
    position: absolute;
    left: -99999px;
  }

  .login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-page h2 {
  margin-bottom: 20px;
}

.login-page a {
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

.login-page a:hover {
  text-decoration: underline;
}

.auth-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form label {
  display: block;
  margin-bottom: 5px;
}

.auth-form input[type='text'],
.auth-form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #0056b3;
}
